.root {
  max-width: var(--content-width);
  padding-bottom: calc(var(--gutter) * 10);
}

@media screen and (max-width: 768px) {
  .root {
    padding-right: calc(var(--gutter) * 2);
    padding-left: calc(var(--gutter) * 2);
  }
}

.contents > * {
  position: relative;
  z-index: 1;
  font-size: var(--font-size-normal);
  line-height: var(--line-height-document);
}

.contents > * + * {
  margin-top: calc(var(--gutter) * 2);
}

.contents h2 {
  font-size: 2.4rem;
  font-weight: var(--font-weight-normal);
}

.contents h3 {
  font-size: 2rem;
}

.contents h4 {
  font-size: 1.8rem;
}

.contents h2,
.contents h3,
.contents h4,
.contents h5,
.contents h6 {
  position: sticky;
  margin-top: calc(var(--gutter) * 2);
  margin-bottom: calc(var(--gutter) * 2);
  font-family: var(--font-family-sans-serif);
  letter-spacing: 0.1em;
}

.contents h2.heading {
  margin-top: 0;
  font-family: var(--font-family-sans-serif);
  font-size: 2.4rem;
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-normal);
  letter-spacing: 0.3em;
}

.contents p {
  font-family: var(--font-family-serif);
}

.contents :not(pre) > code {
  padding: 0.2em 0.4em;
  margin: 0 0.2em;
  font-size: 0.9em;
  color: var(--color-red);
  text-shadow: none;
  background: var(--color-gray);

  @media screen and (max-width: 767px) {
    & {
      font-size: 1em;
    }
  }
}

.contents ol,
.contents ul {
  margin-left: 1em;
  font-family: var(--font-family-serif);
}

.contents hr {
  width: 3em;
  margin: calc(var(--gutter) * 5) auto;
}
